<!DOCTYPE html>
<html lang='en'>
<head>
  <title> Order Delivered (<%= @order.order_number %>) </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
  <div style="max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
    <h1 style="color: #2E86C1; text-align: center;">Out for Delivery</h1>
    <p>
      Dear Customer,
    </p>
    <p>Your Byezzy order has been successfully delivered. </p>

    <ul>
      <li>Order Details: </li>
      <ul>
        <li>Order no. - <%= @order.order_number %></li>
        <li>Order Summary - <%= @order.order_items.map { |order_item| "(#{order_item.catalogue&.sku} - #{order_item.catalogue&.product_title}, Quantity: #{order_item.quantity})" }.join(', ') %> </li>
        <li>Order placed on - <%= @order.order_placed_at&.strftime("%B %d, %Y at %I:%M %p") %></li>
      </ul>
    </ul>
    <ul>
      <li>Shipping Address:</li>
      <% if @order.shipping_first_name.present? %>
      <ul>
        <li><%= @order.shipping_first_name %> <%= @order.shipping_last_name %></li>
        <li><%= @order.shipping_address_1 %></li>
        <% if @order.shipping_address_2.present? %>
        <li><%= @order.shipping_address_2 %></li>
        <% end %>
        <li><%= @order.shipping_city %>, <%= @order.shipping_state %> - <%= @order.shipping_zip_code %></li>
        <li>Phone: <%= @order.shipping_phone_number %></li>
      </ul>
      <% end %>
    </ul>
    <ul>
      <li>Payment Details:</li>
      <ul>
        <li>Payment Method: Telr</li>
        <li>Transaction ID: <%= @order.transaction_id %></li>
        <li>Payment Status: Paid</li>
        <li>Amount Paid: <%= @order.final_price %> AED</li>
      </ul>
    </ul>
    <p>
     In case of return or exchange, click here <a href="<%= ENV['FE_URL'] %>/my-account/return-and-warranty-claims" style="color: #2E86C1;">Return</a>
   </p>
    <p style="text-align: center; margin: 30px 0;">
    Continue shopping with us!
    </p>
    <p>Best regards,</p>
    <p>The Byezzy Team</p>
  </div>
</body>
</html>
